@import 'colors';

.nav {
  align-items: center;
  background-color: $white;
  border: 1px solid;
  border-color: $grey;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-image {
  height: 20px;
}

.nav-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
