@import 'colors';
@import 'sizes';

$card-width: 210px;

.techs-container {
  align-items: center;
  display: grid;
  justify-content: center;
}

.first-tech-container {
  height: 100%;
  justify-content: center;
}

.data-tech-container {
  align-items: center;
  border-bottom: 2px $green solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px 10px;
  width: $card-width;
}

.tech-image {
  height: 100px;
}

.tech-name,
.tech-release,
.tech-description {
  font-family: 'Roboto', sans-serif;
  font-size: $text-medium;
  padding: 10px 0px;
}

.tech-release {
  font-weight: bold;
  padding-bottom: 15px;
}

@media only screen and (min-width: $screen-breakpoint) {
  .techs-container {
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, max-content);
  }

  .first-tech-container {
    border-right: 2px $green solid;
    grid-row: 1 / 3;
  }

  .data-tech-container {
    border-bottom: $white;
    padding: 10px 30px 30px 10px;
  }
}
