@import 'colors';

.techs-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 160px;
}

.main-tech-container {
  position: relative;
  margin-right: 30px;
}

.background-tech-container {
    border: 1px solid;
    border-color: $green;
    border-radius: 5px;
    height: 350px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 210px;
    z-index: -1;
}

.data-tech-container {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 350px;
  text-align: center;
  padding: 10px 30px 30px 10px;
  width: 210px;
}

.tech-image {
  height: 100px;
}

.tech-name,
.tech-release,
.tech-description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 0px;
}

.tech-release {
  font-weight: bold;
  padding-bottom: 15px;
}
