.title-container {
  align-items: center;
  display: flex;
  margin: 120px 0px 40px 80px;
}

.title-image {
  height: 90px;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  left: -18px;
  position: relative;
  top: 2px;
}
