@import 'sizes';

.title-container {
  align-items: center;
  display: flex;
  margin: 60px 0px 40px 300px;
}

.title-image {
  height: 90px;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-size: $text-big;
  left: -18px;
  position: relative;
  top: 2px;
}
