@import 'sizes';

.title-container {
  align-items: center;
  display: flex;
  margin: $navbar-height 0px 40px 200px;
}

.title-image {
  height: 90px;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-size: $text-big;
  left: -18px;
  position: relative;
  top: 2px;
}

@media only screen and (max-width: $screen-breakpoint) {
  .title-container {
    justify-content: center;
    margin: $navbar-height 0px 40px;
  }
}
