.topBar {
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.gameLink,
.profileLink {
  margin-right: 15px;
}

.signOutButton {
  margin: -5px 0px 5px;
  margin-left: auto;
}

.gameLink,
.profileLink,
.signOutButton {
  font-size: 16px;
  font-weight: bold;
}
