@import 'colors';
@import 'sizes';

.footer {
  align-items: center;
  background-color: $blue;
  flex-direction: column;
  display: flex;
  height: 170px;
  justify-content: center;
  width: 100%;
}

.footer-image {
  padding: 15px 0px;
}

.legal-text,
.footer-text {
  color: $white;
  font-family: 'Roboto', sans-serif;
}

.footer-text {
  font-size: $text-big;
}

.legal-text {
  align-self: flex-end;
  font-size: $text-small;
  padding-right: 30px;
}

@media only screen and (max-width: $screen-breakpoint) {
  .legal-text {
    align-self: center;
  }
}
