@import 'colors';
@import 'sizes';

.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 5px 20px $grey;
  display: flex;
  height: $navbar-height;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-image {
  height: 25px;
}

.nav-text {
  font-family: 'Roboto', sans-serif;
  font-size: $text-medium;
}

@media only screen and (max-width: $screen-breakpoint) {
  .nav-text {
    display: none;
  }

  .nav-image {
    height: 35px;
  }
}
