$square-height: 34px;
$square-width: $square-height;

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: $square-height;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $square-width;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
